@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
--color-black: #000;
--color-white: #fff;
--color-text-1: #fafafa;
--color-brand-1: #56adb6;
--color-brand-2: #498c93;
--color-brand-3: #419299;
--color-brand-4: #4ba1a9;
--color-brand-5: #b5d2c8;
--color-brand-6: #6cb9c0;
--color-brand-7: #50a3ab;
--color-cream-1: #efead5;
--color-cream-2: #e8ddac;
--color-accent-1: #ffcb31;
/* #3F9198 */
}

.shaddow {
    box-shadow: 4px 4px 0px #E2DAB7;
}

.headerbg{
    background: linear-gradient(to right,#4A8E96,#6cb9c0,#6DAFB5);
}
.croissantsbg{
    background: linear-gradient(to right,#3E9FA8,#3E9FA8,#3EA0A9);
}
.herobg{
    background-color: var(--color-cream-1);
}
h1{
    color: var(--color-cream-1);
    font-weight: bold;
}
h2{
   color: var(--color-brand-2);
   font-weight: bold;
}
p{
    color: var(--color-text-1);
    font-family: Comfortaa;
}
.border1{
    background-color: var(--color-brand-2);
    border-radius: 30% 70% 70% 30% / 58% 55% 45% 42% ;
}
.border2{
    background-color: var(--color-brand-2);
    border-radius: 32% 68% 63% 37% / 56% 33% 67% 44%   ;
}
.border3{
    background-color: var(--color-brand-2);
    border-radius: 32% 68% 63% 37% / 56% 57% 43% 44%   ;
}
.border4{
    background-color: var(--color-brand-2);
    border-radius: 49% 51% 63% 37% / 73% 55% 45% 27%    ;
}
.border5{
    background-color: var(--color-brand-2);
    border-radius: 49% 51% 47% 53% / 64% 69% 31% 36%    ;
}

#hero p{
    color: var(--color-brand-2);
    margin: 12px 0px;
    font-size: 18px;
}